<%- include('partials/header', { pageTitle: pageTitle, isAuthenticated: isAuthenticated, name: currentUser.name }) %>

    <div class="container mt-4">
        <h2 class="text-center">Hello, <%= currentUser.name %>!</h2>
        <br>
        <% if (imageUrls && imageUrls.length> 0) { %>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% for (let i=0; i < Math.min(3, imageUrls.length); i++) { %>
                    <div class="col">
                        <div class="card h-100">
                            <img src="/<%= imageUrls[i] %>" alt="Image <%= i + 1 %>" class="card-img-top img-fluid"
                                style="object-fit: cover; height: 200px; border: 3px solid black;">
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="text-center mt-3">
                <p>Want to see different images?</p>
                <button onclick="location.reload()" class="btn btn-primary">Refresh Page</button>
            </div>
            <% } else { %>
                <p class="text-center">No images to display at the moment.</p>
                <% } %>
                    <br><br>
                    <div class="text-center">
                        <a href="/logout" class="btn btn-secondary">Logout</a>
                    </div>
    </div>

    <%- include('partials/footer') %>